@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* shared style */

*{
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}


.container{
  width: 100%;
  max-width:1200px;
  margin: 0px auto;
  
}

.episode-card,
.host-card{
  border-radius: 18px;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.15);
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.episode-card:hover,
.host-card:hover{
  transform: translateY(-6px);
  box-shadow:
    inset 0 0 0 1px rgba(255,255,255,0.3),
    0 20px 45px rgba(0,0,0,0.4);
}


.btn-primary, .btn-primary-a{

color:#FFFFFF ;
font-size: 1rem;
font-weight: 600;
border: none;
padding: 0.75rem 1rem 0.75rem 1rem;
border-radius: 10000px;
background:linear-gradient(47.64deg, 
rgba(247, 233, 63, 1),
rgba(251, 9, 180, 1),
rgba(145, 0, 248, 1));
}

.btn-secondary{

padding: 0.75rem 1.25rem;
border: 1px solid var(--#00FF88, rgba(0, 255, 136, 1));
border-radius: 10000px;
}

/* navbar style  */
header{
  background-color: rgba(26, 11, 46, 1);
}
.nav{
   border-bottom: 1px solid rgba(65, 37, 103, 1);

}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
 
  
}

.nav-logo h1{
color: rgba(255, 255, 255, 1);
font-size: 60px;
font-weight: 800;

}
.Wave{
 background: linear-gradient(
  135deg,
  #F7E93F,
  #FB09B4,
  #9100F8
); 
  
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.nav-menu li {
  list-style: none;
  display: inline;
  margin-right: 1.20rem;
  color:  rgba(255, 255, 255, 1);
font-size: 1rem;
text-align: left;


}

/*======= banner-section====== */

/* Banner Section */
.banner-section{
  height: 84vh;
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}


.banner-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

.podcast-circle{
  position: relative;
  width: 420px;
  height: 420px;
  border-radius: 50%;
  border: 8px solid rgba(42, 24, 108, 1);
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}


.circle-icon img{
  width: 100%;
  height: auto;
}


.badge-new{
  position: absolute;
  top: 20px;
  right: 20px;
  background: #2cff8f;
  color: #000;
  font-size: 1.18rem;
  font-weight: 600;
  padding: 0.50rem 1rem;
  border-radius: 999px;
}

.banner-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.banner-title{
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
}

.banner-description{
  max-width: 520px;
  font-size: 0.95rem;
  color: rgba(255, 255, 255, 0.7);
}


.banner-actions{
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}



.btn-secondary{
  padding: 12px 20px;
  border-radius: 999px;
  background: transparent;
  color: #2cff8f;
  border: 1px solid #2cff8f;
}
/* ==about-section== */
.about-section{
padding: 3.125rem 12.5rem 7.5rem 12.5rem;
color: #ebe3e3;
background: rgba(26, 11, 46, 1);
}

.about{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-content{
max-width: 718px;
margin: 0 auto;

}
.about-content h2{
color: #FFFFFF;
font-size: 3rem;
font-weight: 700;
text-align: center;
margin-bottom: 1rem; 
}
.about-content p{
color: #FFFFFF ;
font-size: 1rem;
text-align: center;
opacity: 0.6;

  
}
.thousands{
 margin-top: 2rem;
}

hr{
  margin: 4rem 0rem;
  border: 1px solid  rgba(255, 255, 255, 1);
  opacity: 0.1;

}

.about-cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
 
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card h4{
color: #00FF88 ;
font-size: 3rem;
font-weight: 900;
text-align: center;
margin-bottom: 1rem;
}

.card span{
color:  rgba(255, 255, 255, 1);
font-size: 1rem;
font-weight: 400;
text-align: center;
opacity: 0.8;

}

/* Why Choose TechWave */

.why-choose{
  
  background: rgba(37, 13, 68, 1);
  padding: 6rem 0;
  color: #fff;
}

.section-header{
  color: rgba(255, 255, 255, 1);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}

.section-header h2{
  font-size: 2.25rem;
  font-weight: 700;
}

.why-grid{
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  grid-auto-rows: minmax(220px, auto);
  gap: 1.5rem;
}



.why-card{
  position: relative;
 background: rgba(53, 17, 101, 0.4);  border-radius: 18px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  overflow: hidden;
  transition: transform 0.3s ease,  0.3s ease;
}

.why-card::before{
  content: "";
  position: absolute;
  inset: -50%;
  background: linear-gradient(
    120deg,
    #7b61ff,
    #00f2ff,
    #7b61ff
  );
  animation: rotateBorder 8s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.why-card::after{
  content: "";
  position: absolute;
  inset: 1px;
  background: rgba(35, 14, 61, 1);
  border-radius: 17px;
  z-index: 0;
}


.why-card > *{
  position: relative;
  z-index: 1;
}


.why-card:hover{
  transform: translateY(-6px);
  background: rgba(255, 255, 255, 0.07);
}

.why-card:hover::before{
  opacity: 1;
}


@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.why-card-large{
  padding: 6rem 2.20rem;
  grid-row: span 2;
}

.why-card:nth-child(2){
  grid-column: 2 / 4;
}

.why-card:nth-child(3){
  grid-column: 2 / 4;
}

.why-card:nth-child(4){
  grid-column: 1 / 3;
}

.why-card:nth-child(5){
  grid-column: 3 / 4;
}



.card-icon{
  width: 48px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon img{
  width: 100%;
  height: 100%;
}

.why-card h3{
  color: rgba(255, 255, 255, 1);
  font-size: 1.25rem;
  font-weight: 700;
  text-align: left;
}

.why-card p{
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.6;
}





.featured-episodes{
  background: rgba(26, 11, 46, 1);
  padding: 6rem 0; 
  color: #fff;
}


.featured-episodes .section-header{
  text-align: center;
  margin-bottom: 3.5rem;
}

.featured-episodes .section-header h2{
  font-size: 2.25rem;
  font-weight: 700;
}


.episodes-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.75rem;
}



.episode-card{
  background: rgba(255,255,255,0.05);
  border-radius: 20px;
  overflow: hidden;
  box-shadow:
    inset 0 0 0 1px rgba(255,255,255,0.04),
    0 18px 40px rgba(0,0,0,0.35);
  transition: transform 0.35s ease,  0.35s ease;
}

.episode-card:hover{
  transform: translateY(-8px);
  background: rgba(255,255,255,0.08);
}


.episode-thumbnail{
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.episode-thumbnail iframe{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
}

.episode-content{
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.episode-content h3{
color: #FFFFFF ;
font-size: 1.25rem;
font-weight: 700;
text-align: left;
}

.episode-content p{
 color: -#FFFFFF;
font-size: 1rem;
font-weight: 400;
text-align: left;
opacity: 0.6;

}


.episode-duration{
  margin-top: auto;
  font-size: 1rem;
  color: #2cff8f;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
}

.episode-duration i{
  font-size: 0.75rem;
}


.meet-host{
  padding: 6rem 0;
  background: rgba(26, 11, 46, 1);
}

.host-card{
  background: rgba(255,255,255,0.05);
  border-radius: 22px;
  padding: 2rem 2.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  box-shadow:
    inset 0 0 0 1px rgba(255,255,255,0.04),
    0 20px 45px rgba(0,0,0,0.4);
}


.host-image img{
  width: 100%;
  height: 100%;

width: 200px;
height: 200px;
}

.host-info{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  color: #fff;
}

.host-info h3{
color: -#FFFFFF;
font-size: 2rem;
font-weight: 700;
text-align: left;

}

.host-info p{
 color:#FFFFFF;
font-size: 1rem;
font-weight: 400;
text-align: left;
opacity: 0.6;

}


.host-social{
  margin-top: 0.4rem;
  display: flex;
  gap: 0.6rem;
}

.host-social a{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(255,255,255,0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease,  0.3s ease;
}

.host-social a:hover{
  transform: translateY(-3px);
  background: rgba(255,255,255,0.15);
}

.host-social img{
  width: 16px;
  height: 16px;
}

/* FOOTER SECTION */


.footer {
  background-color: #1a0b3c;
  background-image: url("../assets/footer-bg.png"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 80px 0;
  color: #fff;
  text-align: center;
}

.footer-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer-brand h2 {
  font-size: 72px;
  font-weight: 900;
  margin: 0;
}

.footer-brand .Wave {
  background: linear-gradient(90deg, #ff8a00, #e52e71, #9100f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-platforms {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 16px;
}

.footer-platforms a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.footer-platforms img {
  width: 18px;
}

.footer-copy {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  margin-top: 10px;
}



@media screen and (max-width: 576px){

  /* container */
  .container{
    width: 100%;
    padding: 0 1rem;
  }

  .nav-menu,
  .btn-primary-a{
    display: none;
  }
  
  .menu-bar{
    color: white;
  }

 

  .btn-primary{
    padding: 14px;
  }




  .nav-logo h1{
    font-size: 1.8rem;
  }

  
  .banner-section{

  background-image: url("../assets/hero-bg.png");
  background-size: 100% 100%;
  background-position:center;
  align-items: center;
  height: auto;
  padding: 3rem 0;
}

   
  
  


  .podcast-circle{
    width: 260px;
    height: 260px;
  }

 .circle-icon img{
    width: 100%;
  }

  .badge-new{
    font-size: 0.75rem;
    padding: 0.3rem 0.6rem;
    top: 12px;
    right: 12px;
  }

  .banner-title{
    font-size: 2rem;
  }

  .banner-description{
    font-size: 0.85rem;
  }

  .banner-actions{
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }



  
  .about-section{
    padding: 3rem 1rem;
  }

  .about-content h2{
    font-size: 2rem;
  }

  .about-cards{
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .card h4{
    font-size: 2rem;
  }

  .why-grid{
    grid-template-columns: 1fr;
  }

  .why-card,
  .why-card-large{
    grid-column: auto !important;
    grid-row: auto !important;
    padding: 2rem;
  }

  .why-card-large{
    padding: 2rem;
  }

  .why-card h3{
    font-size: 1.1rem;
  }

  .why-card p{
    font-size: 0.9rem;
  }


  .episodes-grid{
    grid-template-columns: 1fr;
  }

  .episode-content h3{
    font-size: 1.1rem;
  }

  .episode-content p{
    font-size: 0.9rem;
  }

  .host-card{
    flex-direction: column;
    text-align: center;
    padding: 2rem 1.5rem;
  }

  .host-image img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  .host-info h3{
    font-size: 1.5rem;
     text-align: center;
  }

  .host-info p{
    font-size: 0.9rem;
    text-align: center;

  }

  .host-social{
    justify-content: center;
  }

  /* =======FOOTER ====== */
   .footer {
    padding: 60px 0;
    
    background-color: #1a0b3c;
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150% 100%;
    padding: 80px 0;
    color: #fff;
    text-align: center;
}
  

  .footer-brand h2 {
    font-size: 48px; /
 
  }


  .footer-platforms {
    display: flex;
    
    gap: 20px 40px; 
    width: 255px;
    flex-wrap: wrap;
    justify-content: center;

    
  }

  .footer-platforms a {
    justify-content: center;
    justify-items: center;
    
  }

  .footer-copy {
    margin-top: 30px;
    line-height: 1.5;
  }


}





